@facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNlRuQkhiV1JzYUhsbU1EaHJhamxHY0VwMWFHWjFUa1k1VVZOVQ==
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:username=multibankpan01
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:email=multibankpan01
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:always-auth=true
